[Unit]
Description=My test service
After=multi-user.target
[Service]
Environment="SECRET=my_secret"
Environment="SCRIPT_PATH=/path/to/my/exec/file"
Type=simple
Restart=always
ExecStart=/usr/bin/python3 -u /opt/webhook.py -x "${SCRIPT_PATH}" -s ${SECRET}
[Install]
WantedBy=multi-user.target